@import (less) "bower_components/normalize-css/normalize.css";

@import "bower_components/lesshat/build/lesshat.less";

* {
  .box-sizing(border-box);

  &:focus {
    outline: none !important;
  }
}

fieldset {
  border: 0;
}

body {
  max-width: 960px;
  margin: auto;
  text-align: center;
  color: #fff;

  .transition(background-color .5s);

  &,
  &.strength-4 {
    background: #2CC36B;
  }

  &.strength-0 {
    background: #D14233;
  }
  &.strength-1 {
    background: #E74C3C;
  }
  &.strength-2 {
    background: #D35400;
  }
  &.strength-3 {
    background: #E98B39;
  }
}

.generator {
  position: absolute;
  top: 50%;
  left: 0;
  border: 0;
  width: 100%;
  .translateY(-50%);
}

.generator-output {
  display: block;
  padding: 15px;
  width: 100%;
  background: none;
  border: 0;
  text-align: center;
  font-size: 48px;
}

.generator-recipe {
  width: 640px;
  margin: auto;
}

.generator-slider {
  position: relative;
  height: 6px;
  margin: 20px 0;
  background: #fff;
  background: rgba(255,255,255,.3);

  .ui-slider-handle {
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    .box-shadow(0 0 0 5px rgba(0,0,0,0.1));
    border-radius: 50%;
  }
}

.generator-slider-label {
  position: absolute;
  top: 30px;
  left: 50%;
  .translateX(-50%);
  display: inline-block;
  padding: 3px 10px;
  background: #fff;
  border-radius: 3px;
  color: #2CC36B;
  font-size: 14px;
  font-weight: bold;

  &:before {
    position: absolute;
    top: -10px;
    left: 50%;
    .translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
    content: '';
  }
}

// .ui-slider {
//   position: relative;
//   text-align: left;
// }
// .ui-slider .ui-slider-handle {
//   position: absolute;
//   z-index: 2;
//   width: 1.2em;
//   height: 1.2em;
//   cursor: default;
// }
// .ui-slider .ui-slider-range {
//   position: absolute;
//   z-index: 1;
//   font-size: .7em;
//   display: block;
//   border: 0;
//   background-position: 0 0;
// }

// /* For IE8 - See #6727 */
// .ui-slider.ui-state-disabled .ui-slider-handle,
// .ui-slider.ui-state-disabled .ui-slider-range {
//   filter: inherit;
// }

// .ui-slider-horizontal {
//   height: .8em;
// }
// .ui-slider-horizontal .ui-slider-handle {
//   top: -.3em;
//   margin-left: -.6em;
// }
// .ui-slider-horizontal .ui-slider-range {
//   top: 0;
//   height: 100%;
// }
// .ui-slider-horizontal .ui-slider-range-min {
//   left: 0;
// }
// .ui-slider-horizontal .ui-slider-range-max {
//   right: 0;
// }

// .ui-slider-vertical {
//   width: .8em;
//   height: 100px;
// }
// .ui-slider-vertical .ui-slider-handle {
//   left: -.3em;
//   margin-left: 0;
//   margin-bottom: -.6em;
// }
// .ui-slider-vertical .ui-slider-range {
//   left: 0;
//   width: 100%;
// }
// .ui-slider-vertical .ui-slider-range-min {
//   bottom: 0;
// }
// .ui-slider-vertical .ui-slider-range-max {
//   top: 0;
// }