@import (less) "bower_components/normalize-css/normalize.css";
@import "bower_components/lesshat/build/lesshat.less";

@color-text: #fff;
@color-text-dark: rgba(0,0,0,.35);

@strength-color-0: #AB263B;
@strength-color-1: #E74C3C;
@strength-color-2: #D35400;
@strength-color-3: #FF9F20;
@strength-color-4: #2CC36B;

* {
  .box-sizing(border-box);

  &:focus {
    outline: none !important;
  }
}

a {
  cursor: pointer;
}

fieldset {
  padding: 0;
  border: 0;
}

body {
  padding: 0;
  color: #fff;
  
  // slider label color changes with background
  &,
  .generator-slider-label {
    .transition(background-color .5s);
  }

  &,
  &.strength-4 {
    background: @strength-color-4;

    .generator-slider-label {
      color: @strength-color-4;
    }
  }

  &.strength-0 {
    background: @strength-color-0;

    .generator-slider-label {
      color: @strength-color-0;
    }
  }
  &.strength-1 {
    background: @strength-color-1;

    .generator-slider-label {
      color: @strength-color-1;
    }
  }
  &.strength-2 {
    background: @strength-color-2;
    .generator-slider-label {
      color: @strength-color-2;
    }
  }
  &.strength-3 {
    background: @strength-color-3;

    .generator-slider-label {
      color: @strength-color-3;
    }
  }
}

.generator {
  margin-top: 50px;

  @media (min-height: 768px) {
    margin-top: 150px;
  }
}

.zenbox-branding {
  padding: 15px;
  text-align: right;
  color: @color-text-dark;
  font-size: 14px;
  font-weight: bold;

  img {
    display: inline-block;
    vertical-align: middle;
    opacity: .4;
  }

  a:hover {
    img {
      opacity: .6;
    }
  }
}

.width-limiter {
  max-width: 640px;
  width: 90%;
  margin: auto;
}

.generator-output {
  display: block;
  padding: 15px 0;
  width: 100%;
  background: none;
  border: 0;
  text-align: center;
  font-size: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.password-strength {
  text-align: center;
  color: @color-text-dark;
  font-weight: bold;
}

.generator-recipe {
  margin: 50px 0;
}

.generator-slider-wrapper {
  label {
    font-size: 18px;
  }
}

.generator-slider {
  position: relative;
  height: 6px;
  margin: 20px 0 50px;
  background-color: rgba(255,255,255,.3);

  .ui-slider-handle {
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background: #fff;
    .box-shadow(0 0 0 5px rgba(0,0,0,0.1));
    border-radius: 50%;
  }
}

.generator-slider-label {
  position: absolute;
  top: 30px;
  left: 50%;
  .translateX(-50%);
  display: inline-block;
  padding: 3px 10px;
  background: #fff;
  border-radius: 3px;
  color: #2CC36B;
  font-size: 14px;
  font-weight: bold;

  &:before {
    position: absolute;
    top: -10px;
    left: 50%;
    .translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fff;
    content: '';
  }
}

.generator-checkbox {
  cursor: pointer;
  font-size: 18px;

  input[type=checkbox] {
    display: none;

    + .generator-checkbox-indicator {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        border-radius: 3px;
        background-color: rgba(0,0,0,0.2);
    }

    &:checked {
      + .generator-checkbox-indicator {
        background: rgba(0,0,0,0.4) no-repeat center center;
        background-size: 75% 75%;
        .box-shadow(0 0 0 3px rgba(255,255,255,0.4));
        
        // check sign borrowed from: http://wtfforms.com
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
      }
    }
  }
}

.generator-details {
  padding: 0;
  margin-top: 6em;
  list-style: none;
  color: @color-text-dark;
  line-height: 20px;

  p { margin: 10px 0; }

  hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid rgba(0,0,0,.1);
  }
}

.generator-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 0 4px;
  margin: -3px 0; //align to 20px line height of parent
  line-height: 26px; //padding does not align background properly
  border-radius: 3px;
  background-color: rgba(0,0,0,0.1);
  color: @color-text-dark;
  font-weight: bold;
}

a.generator-btn {
  text-decoration: none;

  &:hover { background-color: rgba(0,0,0,0.15); }
}